@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
body {
font-family: 'Roboto Condensed', sans-serif;
margin-left:2px;
margin-right:2px;
margin-top: 20px;
font-size: 19px;
line-height: 1.6
}

p {

line-height:1.6;
margin-top:10px;
margin-bottom:30px;
margin-left:0px;
margin-right:0px;
  
}

pre {
  font-size:16px;
  margin-bottom:40px
  
  
}
 
h1, h2, h3,h4 { 
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 10px;
  padding-top: 20px
 
} 
 
.navbar-default {
    background-color: #006699;

}
.list-group-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #006699;
    border-color: #006699;
}

